Sentence Completion/flows.json
[
    {
        "id": "c30bc63c6658bc09",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7155220d0ecdcbe8",
        "type": "function",
        "z": "c30bc63c6658bc09",
        "name": "function 1",
        "func": "msg = {};\nlet p = {};\np['question'] = \"Charles Dickens _____ a lot of novels.\"\np['a)'] = \"Charles Dickens write a lot of novels.\"\np['b)'] = \"Charles Dickens wrote a lot of novels.\"\np['c)'] = \"Charles Dickens writes a lot of novels.\"\np['d)'] = \"\"\np['e)'] = \"\"\nmsg['payload'] = p;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "b82ef607d7533968",
                "53eca8acd2663689"
            ]
        ]
    },
    {
        "id": "b82ef607d7533968",
        "type": "debug",
        "z": "c30bc63c6658bc09",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "9c4037d069643a75",
        "type": "inject",
        "z": "c30bc63c6658bc09",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "7155220d0ecdcbe8"
            ]
        ]
    },
    {
        "id": "417582352986445e",
        "type": "debug",
        "z": "c30bc63c6658bc09",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "53eca8acd2663689",
        "type": "http request",
        "z": "c30bc63c6658bc09",
        "name": "Request Predict",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://192.168.1.77:9000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 260,
        "wires": [
            [
                "417582352986445e",
                "08c3fc0b646beb12"
            ]
        ]
    },
    {
        "id": "ffb23d046d83872d",
        "type": "ui_form",
        "z": "c30bc63c6658bc09",
        "name": "Prediction Form",
        "label": "",
        "group": "98535ffc3d6dc6d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Question",
                "value": "question",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "a)",
                "value": "a)",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "b)",
                "value": "b)",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "c)",
                "value": "c)",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "d)",
                "value": "d)",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "e)",
                "value": "e)",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "question": "",
            "a)": "",
            "b)": "",
            "c)": "",
            "d)": "",
            "e)": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "53eca8acd2663689",
                "7424f2aa1ed3b4e2",
                "6d0b1fe3e223d492"
            ]
        ]
    },
    {
        "id": "08c3fc0b646beb12",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "98535ffc3d6dc6d7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload.prediction}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "7424f2aa1ed3b4e2",
        "type": "function",
        "z": "c30bc63c6658bc09",
        "name": "Refill Form on Submit",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "ffb23d046d83872d"
            ]
        ]
    },
    {
        "id": "6d0b1fe3e223d492",
        "type": "function",
        "z": "c30bc63c6658bc09",
        "name": "Clear Prediction",
        "func": "msg = {}\nmsg['payload'] = {}\nmsg['payload']['prediction'] = \"[CALCULATING]\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 380,
        "wires": [
            [
                "08c3fc0b646beb12"
            ]
        ]
    },
    {
        "id": "2666befc28d29ebb",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "98535ffc3d6dc6d7",
        "order": 1,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "How To Use",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "f1a102013ba3d323",
        "type": "inject",
        "z": "c30bc63c6658bc09",
        "name": "Inject How To Use",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "To use this program please fill out the form below. Please put a question into the question column. Questions can contain one or more blanks. Each blank should be denoted by five underscores. Please include up to five sample responses in the following fields. Click on the 'Submit' button once you are finished. The model prediction will be shown below after a short delay.",
        "payloadType": "str",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "2666befc28d29ebb"
            ]
        ]
    },
    {
        "id": "74de55eed6ac72bb",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "98535ffc3d6dc6d7",
        "order": 4,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "Example",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "a3876eee83aecae8",
        "type": "inject",
        "z": "c30bc63c6658bc09",
        "name": "Inject Example",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[QUESTION] = \"Charles Dickens _____ a lot of novels.\" [a)]=\"Charles Dickens write a lot of novels.\" [b)]=\"Charles Dickens wrote a lot of novels.\" [c)]=\"Charles Dickens writes a lot of novels.\" [PREDICTION]=\"b\"",
        "payloadType": "str",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "74de55eed6ac72bb"
            ]
        ]
    },
    {
        "id": "71c154c508ef7855",
        "type": "inject",
        "z": "c30bc63c6658bc09",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "10599c5a3d2f24b2"
            ]
        ]
    },
    {
        "id": "0a199abc5f327fe2",
        "type": "debug",
        "z": "c30bc63c6658bc09",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "10599c5a3d2f24b2",
        "type": "http request",
        "z": "c30bc63c6658bc09",
        "name": "Request SAT Metrics",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.77:9000/metrics",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 680,
        "wires": [
            [
                "0a199abc5f327fe2",
                "f5f82fc39aace619",
                "a6658f897de12693",
                "4cba029cb2a9e2d7",
                "2524ea20714831b1",
                "cf4a8cf637b9bbf6",
                "a367c4b0f523a29f",
                "48acb0b0a34d286b",
                "e8646c4bcc0563a5"
            ]
        ]
    },
    {
        "id": "2524ea20714831b1",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "f1953ad7917155a2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SAT Accuracy Score",
        "format": "{{msg.payload.sat.accuracy_score}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "4cba029cb2a9e2d7",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "f1953ad7917155a2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SAT Precision Score",
        "format": "{{msg.payload.sat.precision_score}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "a6658f897de12693",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "f1953ad7917155a2",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SAT Recall Score",
        "format": "{{msg.payload.sat.recall_score}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 660,
        "wires": []
    },
    {
        "id": "f5f82fc39aace619",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "f1953ad7917155a2",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SAT F1 Score",
        "format": "{{msg.payload.sat.f1_score}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "cf4a8cf637b9bbf6",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "67432adbf23b3a43",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SC Ques Accuracy Score",
        "format": "{{msg.payload.sc_ques.accuracy_score}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "a367c4b0f523a29f",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "67432adbf23b3a43",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SC Ques Precision Score",
        "format": "{{msg.payload.sc_ques.precision_score}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 780,
        "wires": []
    },
    {
        "id": "48acb0b0a34d286b",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "67432adbf23b3a43",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SC Ques Recall Score",
        "format": "{{msg.payload.sc_ques.recall_score}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 820,
        "wires": []
    },
    {
        "id": "e8646c4bcc0563a5",
        "type": "ui_text",
        "z": "c30bc63c6658bc09",
        "group": "67432adbf23b3a43",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SC Ques F1 Score",
        "format": "{{msg.payload.sc_ques.f1_score}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 860,
        "wires": []
    },
    {
        "id": "98535ffc3d6dc6d7",
        "type": "ui_group",
        "name": "Prediction",
        "tab": "bdf090c974764e89",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1953ad7917155a2",
        "type": "ui_group",
        "name": "SAT Model Metrics",
        "tab": "bdf090c974764e89",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "67432adbf23b3a43",
        "type": "ui_group",
        "name": "SC Ques Model Metrics",
        "tab": "bdf090c974764e89",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bdf090c974764e89",
        "type": "ui_tab",
        "name": "Sentence Completion",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]